@use '@/app/_styles/variables.scss' as vars;
@use '@/app/_styles/mixins.scss' as mixins;

.header {
  @include mixins.flex(horizontal, center, center, 0);
  height: fit-content;
  margin: 20px 20px 0px 20px;
  background: transparent;
  align-self: flex-end;

  z-index: vars.$z-index-navbar;
}
