@use '@/app/_styles/mixins.scss' as mixins;

.main {
  & > .aboutWrapper {
    @include mixins.flex('vertical', 'start', 'start', 50px);

    & > .resumeContainer {
      @include mixins.flex('vertical', 'start', 'start', 20px);

      & > p {
        line-height: 2;
      }
    }

    & > section {
      & > .cardSection {
        @include mixins.flex('vertical', start, start, 20px);
      }

      & > .skillSection {
        @include mixins.flex('horizontal', start, start, 50px);
        flex-wrap: wrap;

        & > p {
          position: relative;
          // Separate each skill with a dot
          &:not(:last-child):after {
            content: '·';
            position: absolute;
            right: calc(50px / 2 * -1 - 2.5px);
            bottom: 0;
          }
        }
      }
    }
  }
} // end main

.title {
  font-weight: 400;
}
