@use "@/app/_styles/variables.scss" as vars;

.buttonPrimary,
.buttonSecondary,
.buttonTertiary,
.buttonWhite {
  // width: 250px;
  // height: 75px;
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
  z-index: 1; // To avoid the button to be overlapped by the profile image

  cursor: pointer;
}

.buttonPrimary {
  background-color: vars.$color-primary;
  color: vars.$color-light;

  &:hover {
    box-shadow: 0px 0px 20px 0px hwb(337 15% 2% / 0.5);

    @media (prefers-color-scheme: light) {
      box-shadow: 0px 0px 20px 0px hwb(120 7% 87% / 0.2);
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: vars.$color-secondary;
  }
}

.buttonSecondary {
  background-color: vars.$color-secondary;
  color: vars.$color-light;

  &:hover {
    box-shadow: 0px 0px 20px 0px hwb(273 0% 56% / 0.5);

    @media (prefers-color-scheme: light) {
      box-shadow: 0px 0px 20px 0px hwb(337 15% 2% / 0.2);
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: vars.$color-primary;
  }
}

.buttonTertiary {
  background-color: vars.$color-tertiary;
  color: vars.$color-dark;

  &:hover {
    box-shadow: 0px 0px 20px 0px hwb(337 15% 2% / 0.5);
  }
}

.buttonWhite {
  background-color: vars.$color-light;
  color: vars.$color-dark;

  &:hover {
    box-shadow: 0px 0px 20px 0px hwb(0 96% 4% / 0.5);

    @media (prefers-color-scheme: light) {
      box-shadow: 0px 0px 20px 0px hwb(120 7% 87% / 0.2);
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: vars.$color-dark;
    color: vars.$color-light;
  }
}

@media (max-width: vars.$breakpoint-tablet) {
  .buttonPrimary,
  .buttonSecondary,
  .buttonTertiary,
  .buttonWhite {
    width: 200px;
    height: 60px;
    font-size: 1rem;
  }
}

@media (max-width: vars.$breakpoint-mobile) {
  .buttonPrimary,
  .buttonSecondary,
  .buttonTertiary,
  .buttonWhite {
    width: 150px;
    height: 50px;
  }
}
