@use '@/app/_styles/mixins.scss' as mixins;
@use '@/app/_styles/variables.scss' as vars;

.main {
  height: 100vh;

  & > ul {
    @include mixins.flex('vertical', 'start', 'start', 30px);
    list-style-type: none;

    & > li {
      @include mixins.flex('horizontal', 'start', 'center', 20px);
      font-size: 2rem;
      font-weight: 300;

      
      @media screen and (max-width: vars.$breakpoint-mobile) {
        font-size: 1.2rem;
      }

      & > a {   
        color: #fff;

        &:hover {
          color: vars.$color-primary;

          @media (prefers-color-scheme: light) {
            color: vars.$color-secondary;
          }
        }

        @media (prefers-color-scheme: light) {
          color: vars.$color-dark;
        }

        @media screen and (max-width: vars.$breakpoint-mobile) {
          font-size: 1.2rem;
        }
      }

      & > p {
        width: 100%;
        white-space: nowrap;
        text-overflow: clip;
        font-size: 2rem;
        font-weight: 300;
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: vars.$breakpoint-tablet) {
    @include mixins.flex('vertical', 'start', 'center', 0);
    height: 75vh;

    & > ul {
      & > li {
        font-size: 1.5rem;

        & > p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
