:export {
  breakpoint-mobile: 768px;
  breakpoint-tablet: 1024px;
  breakpoint-desktop: 1440px;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(/assets/images/home_background_mixed_layer.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main > .homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  height: 100%;
  padding-left: 20%;
}
.main > .homeContent > h1::after, .main > .homeContent > h2::after {
  content: "";
}
.main > .homeContent > h1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 5.7rem;
}
.main > .homeContent > h1 > span {
  color: #fb2576;
}
@media (prefers-color-scheme: light) {
  .main > .homeContent > h1 > span {
    color: #270047;
  }
}
.main > .homeContent > h2 {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
}
.main > .homeContent > span {
  font-size: 2.5rem;
  font-weight: 400;
}
.main > .homeContent > p {
  font-weight: 300;
  font-size: 1.4rem;
}
.main > .homeContent > .shorcutsButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .main > .homeContent > .shorcutsButtonGroup {
    margin-top: 20px;
  }
}
.main > #profileImageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  width: 300px;
  height: 400px;
  position: absolute;
  right: 15%;
  bottom: calc(50% - 250px);
  background-color: #121212;
  mix-blend-mode: exclusion;
  border-radius: 300px;
  overflow: hidden;
  z-index: 1;
}
.main > #profileImageWrapper img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .main > #profileImageWrapper img {
    display: none;
  }
}
@media (max-width: 768px) {
  .main > #profileImageWrapper {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  .main > #profileImageWrapper {
    mix-blend-mode: normal;
    background-color: hwb(0 7% 93%/0.451);
  }
}
@media (prefers-color-scheme: light) {
  .main {
    background-image: url("/assets/images/home_background_light.jpg");
  }
}

@media (max-width: 1440px) {
  .main {
    height: 100vh;
  }
}
@media (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
  }
  .main > .homeContent {
    text-align: center;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    height: auto;
    z-index: 1;
  }
  .main > .homeContent > h1 {
    font-size: 4.5rem;
    line-height: 4rem;
    padding-top: 0;
  }
  .main > .homeContent > h2 {
    font-size: 2rem;
  }
  .main > .homeContent > span {
    font-size: 2rem;
  }
  .main > .homeContent > p {
    font-size: 1rem;
  }
  .main > #profileImageWrapper {
    display: block;
    position: static;
    width: 250px;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    mix-blend-mode: normal;
    filter: grayscale(100%) contrast(1) brightness(1.3);
    z-index: 0;
  }
  .main > #profileImageWrapper img {
    width: 250px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 768px) {
  .main {
    z-index: 1;
    height: 100vh;
  }
  .main > .homeContent > h1 {
    font-size: 3.5rem;
    line-height: 3rem;
    padding-top: 0;
  }
  .main > .homeContent > h2 {
    font-size: 1.5rem;
  }
  .main > .homeContent > span {
    font-size: 1.3rem;
  }
  .main > .homeContent > p {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 320px) {
  .main {
    height: auto;
  }
  .main > .homeContent {
    padding-top: 200px;
  }
  .main > .homeContent > h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .main > .homeContent > h2 {
    font-size: 1.3rem;
  }
  .main > .homeContent > span {
    font-size: 1.1rem;
  }
  .main > .homeContent > p {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=page.module.css.map */