@use "./_styles/variables.scss" as vars;
@use "./_styles/_mixins.scss" as mixins;

.main {
  @include mixins.flex("vertical", "start", "start", 15px);
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;

  background: url(/assets/images/home_background_mixed_layer.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  & > .homeContent {
    @include mixins.flex("vertical", "center", "start", 15px);
    height: 100%;
    padding-left: 20%;

    // Remove heading end point only for home page
    & > h1,
    & > h2 {
      &::after {
        content: "";
      }
    }

    & > h1 {
      font-size: 6rem;
      font-weight: 400;
      line-height: 5.7rem;
      & > span {
        color: vars.$color-primary;
      }
    }

    & > h2 {
      font-size: 2rem;
      font-weight: 200;
      margin: 0;
    }

    & > span {
      font-size: 2.5rem;
      font-weight: 400;
    }

    & > p {
      font-weight: 300;
      font-size: 1.4rem;
    }

    & > .socialNetworkContainer {
      @include mixins.flex("horizontal", start, center, 15px);
      margin-top: 20px;
      z-index: 1;

      & a {
        color: vars.$color-light;
        font-size: 2rem;

        & > svg {
          transition: fill 0.5s ease-in-out;

          &:hover {
            fill: vars.$color-tertiary;
          }
        }
      }
    }
  }

  // Profile image
  & > #profileImageWrapper {
    @include mixins.flex(vertical, end, center, 0);
    width: 500px;
    height: 700px;
    position: absolute;
    right: 100px;
    bottom: 0;
    transform: translateY(-50%);

    background-color: vars.$color-dark;
    mix-blend-mode: exclusion;
    border-radius: 300px;
    overflow: hidden;
    z-index: 1;

    & img {
      width: 600px;
      height: auto;
      object-fit: contain;
    }
  }
}

@media (max-width: vars.$breakpoint-desktop) {
  .main {
    height: 100vh;
  }
}

@media (max-width: vars.$breakpoint-tablet) {
  .main {
    @include mixins.flex("vertical", center, center, 15px);
    height: 100vh;

    & > .homeContent {
      text-align: center;
      align-items: center;
      padding-left: 0;
      padding-top: 300px;

      z-index: 1;

      & > h1 {
        font-size: 4.5rem;
        line-height: 4rem;
      }

      & > h2 {
        font-size: 2rem;
      }

      & > span {
        font-size: 2rem;
      }

      & > p {
        font-size: 1rem;
      }
    }

    & > #profileImageWrapper {
      right: 0;
      top: 0;
      margin: 0;
      width: 400px;
      height: 500px;
      transform: translateX(-50%) translateY(20%);
      background-color: transparent;
      mix-blend-mode: normal;
      filter: grayscale(100%) contrast(1) brightness(1.3);
      
      z-index: 0;

      & img {
        width: 450px;
        height: 450px;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: vars.$breakpoint-mobile) {
  .main {
    z-index: 1;
    height: 100vh;

    & > .homeContent {
      padding-top: 300px;

      & > h1 {
        font-size: 3.5rem;
        line-height: 3rem;
      }

      & > h2 {
        font-size: 1.5rem;
      }

      & > span {
        font-size: 1.3rem;
      }

      & > p {
        font-size: 0.8rem;
      }
    }

    & > #profileImageWrapper {
      right: 0;
      top: 0;
      width: 250px;
      height: 300px;
      transform: translateX(-25%) translateY(20%);
      z-index: 0;

      & img {
        width: 300px;
      }
    }
  }
}

// iPhone SE
@media only screen and (max-width: vars.$breakpoint-mobile-iphoneSe) {
  .main {
    height: auto;
    & > .homeContent {
      padding-top: 200px;

      & > h1 {
        font-size: 3rem;
        line-height: 2.5rem;
      }

      & > h2 {
        font-size: 1.3rem;
      }

      & > span {
        font-size: 1.1rem;
      }

      & > p {
        font-size: 0.7rem;
      }
    }

    & > #profileImageWrapper {
      margin-top: 20px;
      z-index: 0;

      & img {
        width: 300px;
        height: 300px;
        max-width: 100%;
        object-fit: contain;
        margin: 0 auto;
      }
    }
  }
}
