:export {
  breakpoint-mobile: 768px;
  breakpoint-tablet: 1024px;
  breakpoint-desktop: 1440px;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
  background: url(/assets/images/home_background_mixed_layer.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main > .homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  height: 100%;
  padding-left: 20%;
}
.main > .homeContent > h1::after, .main > .homeContent > h2::after {
  content: "";
}
.main > .homeContent > h1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 5.7rem;
}
.main > .homeContent > h1 > span {
  color: #fb2576;
}
.main > .homeContent > h2 {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
}
.main > .homeContent > span {
  font-size: 2.5rem;
  font-weight: 400;
}
.main > .homeContent > p {
  font-weight: 300;
  font-size: 1.4rem;
}
.main > .homeContent > .socialNetworkContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.main > .homeContent > .socialNetworkContainer a {
  color: #f4f4f4;
  font-size: 2rem;
}
.main > .homeContent > .socialNetworkContainer a > svg {
  transition: fill 0.5s ease-in-out;
}
.main > .homeContent > .socialNetworkContainer a > svg:hover {
  fill: #fec8dd;
}
.main > #profileImageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.main > #profileImageWrapper img {
  width: 800px;
  max-width: 800px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1440px) {
  .main {
    height: 100vh;
  }
}
@media (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
  }
  .main > .homeContent {
    text-align: center;
    align-items: center;
    padding-left: 0;
    padding-top: 300px;
    z-index: 1;
  }
  .main > .homeContent > h1 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
  .main > .homeContent > h2 {
    font-size: 2rem;
  }
  .main > .homeContent > span {
    font-size: 2rem;
  }
  .main > .homeContent > p {
    font-size: 1rem;
  }
  .main > #profileImageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-top: 50px;
    z-index: 0;
  }
  .main > #profileImageWrapper img {
    width: 450px;
    height: 450px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 768px) {
  .main {
    z-index: 1;
    height: 100vh;
  }
  .main > .homeContent {
    padding-top: 300px;
  }
  .main > .homeContent > h1 {
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .main > .homeContent > h2 {
    font-size: 1.5rem;
  }
  .main > .homeContent > span {
    font-size: 1.3rem;
  }
  .main > .homeContent > p {
    font-size: 0.8rem;
  }
  .main > #profileImageWrapper {
    margin-top: 20px;
    z-index: 0;
  }
  .main > #profileImageWrapper img {
    width: 400px;
    height: 400px;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 320px) {
  .main {
    height: auto;
  }
  .main > .homeContent {
    padding-top: 200px;
  }
  .main > .homeContent > h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .main > .homeContent > h2 {
    font-size: 1.3rem;
  }
  .main > .homeContent > span {
    font-size: 1.1rem;
  }
  .main > .homeContent > p {
    font-size: 0.7rem;
  }
  .main > #profileImageWrapper {
    margin-top: 20px;
    z-index: 0;
  }
  .main > #profileImageWrapper img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 auto;
  }
}/*# sourceMappingURL=page.module.css.map */