@use '@/app/_styles/mixins.scss' as mixins;
@use '@/app/_styles/variables.scss' as vars;

.card {
  @include mixins.flex('horizontal', 'start', 'center', 15px);

  &:hover > img {
    opacity: 1;
  }

  & > img {
    width: 200px;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%) invert(100%);
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;

    @media (prefers-color-scheme: light) {
      filter: grayscale(100%) invert(0%) hue-rotate(180deg);
    }
  }

  & > .cardBody {
    @include mixins.flex('vertical', center, start, 5px);
  }

  @media (max-width: 768px) {
    width: 100%;
    & > img {
      width: 100px;
    }
  }
}
