@use '@/app/_styles/_mixins.scss' as mixins;
@use '@/app/_styles/variables.scss' as vars;

.navbar {
  align-self: flex-end;
  z-index: vars.$z-index-navbar;

  & > ul {
    @include mixins.flex('horizontal', start, center, 20px);
    list-style-type: none;

    & > li {
      padding: 5px 20px;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;

      & > a {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
        color: vars.$color-light;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        @media (prefers-color-scheme: light) {
          color: vars.$color-dark;
        }

        @media screen and (max-width: vars.$breakpoint-tablet) and (prefers-color-scheme: light) {
          color: vars.$color-light;
        }
      }

      &:hover {
        background-color: vars.$color-secondary-alpha;
        background-blend-mode: normal;

        & > a {
          color: vars.$color-primary;

          @media screen and (max-width: vars.$breakpoint-tablet) and (prefers-color-scheme: light) {
            color: vars.$color-light;
          }
        }

        @media (prefers-color-scheme: light) {
          background-color: vars.$color-secondary;
          background-blend-mode: normal;

          & > a {
            color: vars.$color-light;
          }
        }
      }
    }

    @media screen and (max-width: vars.$breakpoint-mobile) {
      display: none;
    }
  }

  @media screen and (max-width: vars.$breakpoint-tablet) {
    align-self: center;
  }

  @media screen and (max-width: vars.$breakpoint-mobile) {
    align-self: end;
  }
}
