@use '@/app/_styles/variables.scss' as vars;
@use '@/app/_styles/_mixins.scss' as mixins;

.footer {
  @include mixins.flex('vertical', 'center', 'center', 0);
  //height: 80px;
  padding: 30px 0;
  background-color: #000;

  & > p {
    text-align: center;
    font-size: 1rem;
    color: vars.$color-light;
  }
}
