// Color palette
$color-primary: #fb2576; //#FC75A9     - fb2576
$color-primary-alpha: hwb(337 15% 2% / 0.2);
$color-secondary: #270047; //270047   -  3f0071
$color-secondary-alpha: hwb(273 0% 56% / 0.2);
$color-tertiary: #fec8dd;
$color-dark: #121212;
$color-dark-alpha: hwb(0 7% 93% / 0.2);
$color-light: #f4f4f4;
$color-light-alpha: hwb(0 96% 4% / 0.2);
$color-light-sec: #d9d9d9;

// z-index
$z-index-navbar: 10;
$z-index-lang-switch: 15;
$z-index-fullPageMenu: 20;

// Breakpoints
$breakpoint-mobile-iphoneSe: 320px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;

// Border radius
$border-radius: 10px;

:export {
  breakpoint-mobile: $breakpoint-mobile;
  breakpoint-tablet: $breakpoint-tablet;
  breakpoint-desktop: $breakpoint-desktop;

  border-radius: $border-radius;
}
