// Color palette
$color-primary: #fb2576;
$color-primary-alpha: rgba(251, 37, 118, 0.2);
$color-secondary: #3f0071;
$color-secondary-alpha: rgba(63, 0, 113, 0.2);
$color-tertiary: #fec8dd;
$color-dark: #121212;
$color-light: #f4f4f4;
$color-light-sec: #d9d9d9;

// z-index
$z-index-navbar: 10;
$z-index-fullPageMenu: 20;

// Breakpoints
$breakpoint-mobile-iphoneSe: 320px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;

// Border radius
$border-radius: 10px;

:export {
  breakpoint-mobile: $breakpoint-mobile;
  breakpoint-tablet: $breakpoint-tablet;
  breakpoint-desktop: $breakpoint-desktop;

  border-radius: $border-radius;
}
