@use '@/app/_styles/variables.scss' as vars;
@use '@/app/_styles/_mixins.scss' as mixins;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 100vw;
}

// Headings
h1,
h2,
h3 {
  color: vars.$color-light;

  &::after {
    content: '.';
    color: vars.$color-primary;

    @media (prefers-color-scheme: light) {
      color: vars.$color-secondary;
    }
  }

  @media (prefers-color-scheme: light) {
    color: vars.$color-dark;
  }
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 50px;

  @media screen and (max-width: vars.$breakpoint-tablet) {
    text-align: center;
  }

  @media screen and (max-width: vars.$breakpoint-mobile) {
    font-size: 4rem;
  }
}

h2 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  color: vars.$color-light;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }

  @media (prefers-color-scheme: light) {
    color: vars.$color-dark;
  }
}

a {
  text-decoration: none;
  color: vars.$color-primary;
  padding: 0 5px;

  @media (prefers-color-scheme: light) {
    color: vars.$color-secondary;
  }

  &:visited,
  &:active,
  &:focus {
    color: vars.$color-primary;

    @media (prefers-color-scheme: light) {
      color: vars.$color-secondary;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

::selection {
  background-color: vars.$color-primary;
  color: vars.$color-light;

  @media (prefers-color-scheme: light) {
    background-color: vars.$color-secondary;
    color: vars.$color-light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: vars.$color-dark;
  }
}
