@use '@/app/_styles/variables.scss' as vars;
@use '@/app/_styles/mixins.scss' as mixins;

.bodyWrapper {
  @include mixins.flex(vertical, start, center, 0);
  // width: 100%;

  & > .header {
    background: transparent;

    z-index: vars.$z-index-navbar;
  }

  & > .bodyContent,
  & > .bodyContentNoMargin {
    margin: 0;
    width: 100%;
  }

  @media (max-width: vars.$breakpoint-mobile) {
    @include mixins.flex(vertical, start, center, 0);
  }
}
