@use '@/app/_styles/variables.scss' as vars;

.secondaryLayout {
  width: 60%;
  padding: 20px;
  margin: 30px auto;

  @media (max-width: vars.$breakpoint-tablet) {
    margin: 20px auto;
    width: 90%;
  }

  @media (max-width: vars.$breakpoint-mobile) {
    width: 100%;
  }
}
